#tit {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(102, 25, 25);
     text-align: center;
     width:323px;
     margin: 55px 0 0 470px;
   }
   .botao{
     border-radius:15px;
     font-family:Arial, Helvetica, sans-serif;
     font-size:0.5cm;
     text-align: center;
     margin-left: auto;
     margin-right: auto;
     
   }
   .str{
   border-radius:10px;
   font-size:0.6cm;
    text-align: center;
    margin-left: 
   }
   .num{
   border-radius:10px;/*arredondou as bordas*/
   font-size:0.6cm; 
   text-align: center; 
   }
   form{
         text-align: center;
         width:323px;
         margin: 45px 0 0 470px; /*a primeira parte negativa ajudou a subir a caixa. alterando a propriedade do meio, a caixa desce para a direita. o ultimo atributo, a caixa se move para a direita.*/
   }
   .palavra{
   border:2px dashed #dc95e9ec; /*tamanho da borda ... tipo de borda... cor da borda*/
    background: rgb(227, 247, 247);
     width: 170px; /*largura*/
     height: 40px; /*altura*/  
     margin: 40px 0 0 547px;
     color:black;
   }
   .num:hover{
    background-color: rgb(188, 216, 243);
   }
   .str:hover{
     background-color: rgb(188, 216, 243);
   }
   /*readonly*/